{% load staticfiles %} 
{% load blog_tags %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>寻常的日与夜</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}" type="image/x-icon">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <div class="logo">
              <h1><a href="{% url 'blog:index' %}">可白昼过尽<br/>&emsp;夜晚来临</a></h1>
            </div>
          </div>
          <div class="col-xs-4 col-sm-7 col-md-8 col-lg-8">
            <nav class="navbar navbar-default navbar-right">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'blog:index' %}">首页</a></li>
                  <li><a href="#">留言</a></li>
                  <li><a href="#">关于</a></li>
                  <li>
                    <form id="search">
                      <input type="text" class="form-control" placeholder="Search">
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <hr>
      </div>
    </header>
    <div class="contentt-body">
      <div class="container">
        <div class="row">
          <main class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
              {% block main %}

              {% endblock main %}
          </main>

          <aside class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            {% block toc %}
            
            {% endblock toc %}
            <div class="widget widget-recent-posts">
              <h3 class="widget-title">最新文章</h3>
              {% get_recent_posts as recent_post_list %}
              <ul>
                {% for post in recent_post_list %}
                <li><span class="glyphicon glyphicon-menu-right"></span>
                  <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
                {% empty %}
                  暂无文章！
                {% endfor %}
              </ul>
            </div>
            <div class="widget widget-archives">
              <h3 class="widget-title">发布时间</h3>
              {% archives as date_list %}
              <ul>
                {% for date in date_list %}
                  <li><span class="glyphicon glyphicon-time"></span>
                    <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                    {% comment %} <span class="badge">2</span> {% endcomment %}
                  </li>
                {% empty %}
                  暂无归档！
                {% endfor %}
              </ul>
            </div>
            <div class="widget widget-category">
              <h3 class="widget-title">分类</h3>
              {% get_categories as category_list %}
              <ul>
                {% for category in category_list %}
                  <li><span class="glyphicon glyphicon-tag"></span>
                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }}</a>
                    <span class="badge">{{ category.num_posts }}</span>
                  </li>
                {% empty %}
                暂无分类！
                {% endfor %}
              </ul>
            </div>
            <div class="widget widget-tag-cloud">
              <h3 class="widget-title">标签云</h3>
              {% get_tags as tag_list %}
              <ul>
                {% for tag in tag_list %}
                  <li>
                    <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                  </li>
                {% empty %}
                暂无标签！
                {% endfor %}
              </ul>
            </div>
            <div class="widget widget-rss">
              <h3 class="rss">
                <a href="{% url 'rss' %}"></span> RSS 订阅</a>
              </h3>
            </div>
          </aside>
        </div>
      </div>
    </div>

    <footer id="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright">&copy 2017 - 寻常的日与夜</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  </body>

</html>
